<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
        <div class="box-container">
            <div class="row exams-header">
                <div class="col-xs-2">ID</div>
                <div class="col-xs-2">Student</div>
                <div class="col-xs-2">Profession</div>
                <div class="col-xs-2">Course</div>
                <div class="col-xs-2">Exam Code</div>
                <div class="col-xs-2">Action</div>
            </div>

            <div class="no-data-message" ng-show="examsToCheck.length == 0">No exams to check</div>

            <div class="row exam-row" ng-repeat="exam in examsToCheck">
                <div class="col-xs-2">{{exam.id}}</div>
                <div class="col-xs-2">{{exam.student.firstName + " " + exam.student.firstName}}</div>
                <div class="col-xs-2">{{exam.exam.profession.name}}</div>
                <div class="col-xs-2">{{exam.course.name}}</div>
                <div class="col-xs-2">{{exam.exam.code}}</div>
                <div class="col-xs-2">
                    <button class="btn btn-default" ng-click="openCheckExamModal(exam);">Check Exam</button>
                </div>
            </div>

        </div>
    </div>
</div>