<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to TestsSys</title>


<!-- Javascript -->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script> -->



<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">


<!-- AngularJS library -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function() {

		
	    $(window).load(function () {
	        setTimeout(function(){

			$.ajax({
		        url: "/TestsSys/user/SessionAuth",
		        type: 'GET',
		        contentType: "application/json; charset=utf-8",
		        success: function(data) {
		        	if(data.result == "success"){
						console.log("success");
		    		}
		        }
		    	})
				
		    	.done(function (data) {
		    		if(data.result == "success"){
						console.log("success");
		    		}
			        	else{ window.location.pathname = "/TestsSys/index.html"; } // if Authintication failed send user to index.html
		    	 })
		    	 .fail( function (data) {
		    		 console.log(data);
		    	 });
			$('#preloader').fadeOut('slow', function () { // fadeOut preloader in 2 sec
            });
        },2000);

    	});



    	 // will logout the user. 
	    $("#logout_btn").click(function() {
	    	$.ajax({
		        url: "/TestsSys/user/LogoutUser",
		        type: 'GET'
		    	}).done(function (data) {
		    		if(data.result == "success"){
						window.location.pathname = "/TestsSys/index.html"; // send user to index.html page
		    		}
		    	 }).fail( function (data) {
		    		 console.log(data.result);
		    	 });
	    	
	    	});
	});

	</script>
</head>


<body>
	<div id="TopDiv"></div>
	<div id="preloader"></div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="cqa.html"><span
					class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="cqa.html">ASK<span
							class="sr-only">(current)</span></a></li>
					<li><a href="popular_topics.html"><span
							class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							TEST</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="leaderboard.html"><span
							class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							TEST2</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> USER <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="profile.html">MY PROFILE</a></li>

							<li role="separator" class="divider"></li>
							<li><a href="#" id="logout_btn">LOGOUT</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>




	<div class="page-header">
		<h2 id="PageHeader">TestsSys Dashboard</h2>
	</div>


	<div class="tests-container" data-ng-app="TestsApp"
		data-ng-controller="TestsController">
		<div class="container">



			<div class="alert alert-success alert-dismissible alertPostQuestSuc"
				role="alert">Question Created successfuly!</div>
			<div class="alert alert-danger alert-dismissible alertPostQuestEmpty"
				role="alert">Please Create a Question!</div>

			<div class="alert alert-danger alert-dismissible RateQuestDiv"
				role="alert"></div>
			<div class="alert alert-danger alert-dismissible RateAnswerDiv"
				role="alert"></div>

			<div class="alert alert-success alert-dismissible RateQuestSucDiv"
				role="alert"></div>
			<div class="alert alert-success alert-dismissible RateAnswerSucDiv"
				role="alert"></div>

			<!-- <button type="button" id="btn_show_newst" class="btn btn-primary" data-ng-click="btn_newst_questions();">My Questions</button>
		<button type="button" id="btn_all_questions" class="btn btn-primary" data-ng-click="btn_all_questions();">All Questions</button> -->

			<div class="row">
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail" data-ng-click="show_question_form();">
						<img src="img/default-photo.png" alt="...">
						<div class="caption">
							<h3 id="show_question_form">Create a Question</h3>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail"> <img src="img/default-photo.png"
						alt="...">
						<div class="caption">
							<h3 id="show_exam_form">Create an Exam</h3>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail"> <img src="img/default-photo.png"
						alt="...">
						<div class="caption">
							<h3>My Work Box</h3>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail"> <img src="img/default-photo.png"
						alt="...">
						<div class="caption">
							<h3>Show ALL</h3>
						</div>
					</a>
				</div>





			</div>





		</div>
</div>
		<div id="LoadingViewDiv">
			<img src="img/loading_questions.gif" class="loading_questions"
				alt="loading questions">
		</div>


		<!-- 	DISPLAY QUESTIONS FORM 	 -->

		<div id="QuestionDiv" class="QuestionDiv">
			<div class="container">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<h3>Question's Text</h3>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Question's
									Text</span>
								<textarea class="form-control" id="txtQuest"
									data-ng-model="txtQuest" maxlength="300"
									placeholder="Your Question" cols="8" rows="4"></textarea>
							</div>

							<h3>Answers Options</h3>


							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Option
									1</span> <input type="text" class="form-control" aria-label=""
									placeholder="Answer Text" id="first-answer" data-ng-model="firstAnswer" maxlength="50">
							</div>
							<!-- input-group -->


							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Option
									2</span> <input type="text" class="form-control" aria-label="Answer 1"
									placeholder="Answer Text" id="second-answer" data-ng-model="secondAnswer" maxlength="50">
							</div>
							


							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Option
									3</span> <input type="text" class="form-control" aria-label=""
									placeholder="Answer Text" id="third-answer" data-ng-model="thirdAnswer" maxlength="50">
							</div>
							


							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Option
									4</span> <input type="text" class="form-control" aria-label=""
									placeholder="Answer Text" id="fourth-answer" data-ng-model="fourthAnswer" maxlength="50">
							</div>
							
						</div>
						

						<h3> Correct Answer</h3>
						<div class="row">
							<label class="checkbox-inline"> <input type="checkbox"
								id="inlineCheckbox1" value="option1"> 1
							</label> <label class="checkbox-inline"> <input type="checkbox"
								id="inlineCheckbox2" value="option2"> 2
							</label> <label class="checkbox-inline"> <input type="checkbox"
								id="inlineCheckbox3" value="option3"> 3
							</label> <label class="checkbox-inline"> <input type="checkbox"
								id="inlineCheckbox4" value="option4"> 4
							</label>
						
						<h3>Related Course</h3>

						<div class="input-group">

							<select class="selectpicker" name="courses" multiple>
								<option value="course">course1</option>
								<option value="course">course2</option>
								<option value="course">course3</option>

							</select>

						</div>





					</div>
					<button type="submit" class="btn btn-primary"
						data-ng-click="btn_create_quest();" id="save_quest">Save</button>
						
						<button type="reset" class="btn btn-primary"  id="reset_quest">Reset</button>

				</div>
				<!-- 	END JUMBORTUN 	 -->



			</div>
			<!-- 	END CONTAINER 	 -->



		</div>
		<!-- 	END QUESTIONDIV 	 -->




	</div>
	<!-- 	END TESTS-CONTAINER 	 -->


	<!-- AngularJS module -->
	<script>

 

 	var app = angular.module('TestsApp',[])
		.controller('TestsController', ['$scope','$sce','$http','$interval', function($scope,$sce,$http,$interval) {
		
			//Get All Users in json array 
			



	$scope.hideLoading = function() {
		
		// will fade out LoadingDiv and show Messages in 3 seconds.
		setTimeout(function(){$('#LoadingViewDiv').fadeOut(1000);
		$('#QestionDiv').delay(1000).fadeIn(500);
	 
	 },2000);
	
	};

	
	$( "input[type=checkbox]" ).on( "click", function() {
		
		$scope.theCorrectAnswer = $( "input:checked" ).val();
	});
	



 	$scope.show_question_form = function() {
 		$('#PageHeader').html($('#show_question_form').html()); // change page header
		
		$('#LoadingViewDiv').height($('#QuestionDiv').height()).show(); // set LoadingViewDiv height to overly the same area of Questions
		
		$('#QuestionDiv').show(); // show QUESTIONS

		
		$scope.hideLoading(); // call hideLoading fun.
		
	};
	
	
	// create question func
	$scope.btn_post_quest = function() {
		

        if(($('#txtQuest').val().trim().length > 0 ) && ($('#first-asnwer').val().trim().length > 0) 
        		&& ($('#second-answer').val().trim().length > 0) 
        		&& ($('#third-asnwer').val().trim().length > 0) 
        		&& ($('#fourth-asnwer').val().trim().length > 0) ){
        	
        	//create js object
    		var Quest = new Object();
    	    Quest.QuestionText = $scope.txtQuest;
    	    Quest.CorrectAnswer = $scope.theCorrectAnswer;
    	    /* Quest.TeacherID = ""; */
    	    Quest.QuestionOptions1 = $scope.firstAnswer;
    	    Quest.QuestionOptions2 = $scope.secondAnswer;
    	    Quest.QuestionOptions3 = $scope.thirdAnswer;
    	    Quest.QuestionOptions4 = $scope.fourthAnswer;
    	    /* Quest.CoursesList = "" ; */
    	    
    	    
    	    //Make and http call to the server
        	var req = $http({
                method: "post",
                url: "/TestsSys/question/CreateQuestion",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
    	        data: JSON.stringify(Quest)

            });
            var data = JSON.stringify(Quest);

    	    req.success(function(response) {
    	    	$('.alertPostQuestSuc').show(1000).delay(3000).hide(1000); // show for 3 seconds and hide
    	    	//clear form
    	    	Quest.QuestionText = "";
    	    	Quest.CorrectAnswer = "";
    	    	Quest.QuestionOptions1 = "";
    	    	Quest.QuestionOptions2 = "";
    	    	Quest.QuestionOptions3 = "";
    	    	Quest.QuestionOptions4 = "";
    		});	

        }
        else{
        	$('.alertPostQuestEmpty').show(1000).delay(3000).hide(1000); // show for 3 seconds and hide
        }
        
    };
    
    
    
    
   

	$scope.btn_all_questions= function() {
		$('#PageHeader').html($('#btn_all_questions').html()); // change page header
		$('#LoadingViewDiv').height($('#QuestionDiv').height()).show(); // set LoadingViewDiv height to overly the same area of Questions
		$('#QuestionDiv').show(); // show QUESTIONS
		$scope.getURL = "/WebAppProj/question/GetAllQuestions"; 
		
		$http.get($scope.getURL)
			 .success(function(response) {	

			 	$scope.questsArray = response;
				$scope.questsArray_limit = response; //this variable will hold the questions of users
				
				for (var i = 0 ; i < $scope.questsArray_limit.length; i++) {
						if($scope.questsArray_limit[i].Answers_count == 0) 
							$scope.questsArray_limit[i].limit = 0;
						else
				    		$scope.questsArray_limit[i].limit = 1;
				    }


				   	for (var i = $scope.questsArray.length - 1 ; i >= 0; i--) {
				    if($scope.questsArray[i].user.PhotoURL ==""){

				    	$scope.questsArray[i].user.PhotoURL = "img/default-photo.png";
				    }
				    }
				// loop over and check if photoURL empty, then change it to the default image.
			   	for (var i = $scope.questsArray.length - 1 ; i >= 0; i--) {
			   		for(var j = $scope.questsArray[i].AnswersArray.length - 1; j >= 0; j--)
				    

				    if($scope.questsArray[i].AnswersArray[j].user.PhotoURL ==""){

				    	$scope.questsArray[i].AnswersArray[j].user.PhotoURL = "img/default-photo.png";
				    }
				    }

				
				//show more functionality
				 $scope.pagesShown = 1;
				$scope.pageSize = 3;
				
				
				$scope.paginationLimit = function(response) {
				 return $scope.pageSize * $scope.pagesShown;
				};
				
				$scope.hasMoreItemsToShow = function() {
				 return $scope.pagesShown < ($scope.questsArray.length / $scope.pageSize);
				};
				

				$scope.showMoreItems = function() {
				 $scope.pagesShown = $scope.pagesShown + 1;       
				}; 
				
		});

		$interval(function(){
			$http.get($scope.getURL)
			 .success(function(response) {	


				$scope.questsArray = response; //this variable will hold the questions of users
				
				for (var i = 0 ; i < $scope.questsArray.length; i++) {
						
				    		$scope.questsArray[i].limit = $scope.questsArray_limit[i].limit;
				    }

				    
				    if($scope.questsArray[i].AnswersArray.length !== undefined)
				    {
				   	for (var i = $scope.questsArray.length - 1 ; i >= 0; i--) {
				    if($scope.questsArray[i].user.PhotoURL ==""){

				    	$scope.questsArray[i].user.PhotoURL = "img/default-photo.png";
				    }
				    }
				// loop over and check if photoURL empty, then change it to the default image.
			   	for (var i = $scope.questsArray.length - 1 ; i >= 0; i--) {
			   		for(var j = $scope.questsArray[i].AnswersArray.length - 1; j >= 0; j--)
				    

				    if($scope.questsArray[i].AnswersArray[j].user.PhotoURL ==""){

				    	$scope.questsArray[i].AnswersArray[j].user.PhotoURL = "img/default-photo.png";
				    }
				    }

				}
				
				
		});
		},2000);

		$scope.questsArray_limit = $scope.questsArray;

		$scope.hideLoading(); // call hideLoading fun.
	
		
		

}	


	// make nickname clickable
	$scope.getNicknameAsLink = function(nickname)
	{
	return "profile.html?name="+nickname;
	};


	


   


	


   


	//answer quesion func
	$scope.AnswerQuest = function(){
			
	        if($scope.answerText !=''){
	        	 
	        	// create js object
	    		var Quest = new Object();
	    	    Quest.Content = $scope.answerText;
	    	    Quest.questID = $scope.questID;
	    	    var qid = Quest.questID;

	    	    // make a call to the server
	        	var req = $http({
	                method: "post",
	                url: "/WebAppProj/PostAnswer/id/" + qid ,
	                contentType: "application/json; charset=utf-8",
	                dataType: 'json',
	    	        data: JSON.stringify(Quest)
	            });
	    	    
	    	    req.success(function(response) {
	    	    	// hide modal after replying is done
	    			$('#AnswerQuestModal').modal('hide');
	    			$scope.answeText = ''; //clear
	    	    	//Scroll Up to Top
	    	    	$('html, body').animate({
	    	            scrollTop: $("#TopDiv").offset().top
	    	        }, 1000);
	    	    	$('.alertPostAnswSuc').show(1000).delay(3000).hide(1000); // show for 3 seconds and hide
	    	    	$scope.answerText = ""; //clear answerText
	    		});	

	        }
	        else{
	        alert('Please Provide and Answer!');
	        }
			
			};
	


	// show answer modal fun
	$scope.AnswerQuestModalPop = function(questID){
		//$scope.replyText = ; // 
		$scope.questID = questID;
		$('#AnswerQuestModal').modal('show'); // show reply modal 
		};
	


	
	
	}]);
 </script>


	<!-- Modal Javascript -->
	<script>
	
    $('#AnswerQuestModal').on('shown.bs.modal', function () {

        $('#answerText').focus(); // as soon as the modal shown focus on textarea        
    })
    
	</script>
	<!-- Modal Javascript -->


</body>
</html>