<!DOCTYPE html>
<html ng-app="TestsSysApp">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <link href="css/app.css" rel="stylesheet" type="text/css"/>


    <title>Tests System</title>
</head>
<body ng-controller="MainCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="#" ng-click="openHome()">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    TestSys
                </a>
                <span class="sub-page">
                    {{currentPageName}}
                </span>
            </li>
            <!--<li ng-class="{'active': }"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Hello, {{currentUser.firstName}} &nbsp&nbsp
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    
                    <li role="separator" class="divider"></li>
                    <li class="drop-row"><a href="#" class="logout-button" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container" ng-switch="currentUser.type">
    <div ng-switch-when="STUDENT">
        <div ng-include="'pages/student/container.html'"></div>
    </div>
    <div ng-switch-when="TEACHER">
        <div ng-include="'pages/teacher/container.html'"></div>
    </div>
    <div ng-switch-when="MANAGER">
        <div ng-include="'pages/manager/container.html'"></div>
    </div>
</div>

<div id="loader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Tests System</p>
    </div>
</div>

<script src="js/jquery-1.12.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/base64.js"></script>
<script type="text/javascript" src="js/jszip.js"></script>
<script src="js/docx.js" type="text/javascript"></script>
<script src="js/constants.js" type="text/javascript"></script>
<script src="js/http.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/StudentCtrl.js" type="text/javascript"></script>
<script src="js/TeacherCtrl.js" type="text/javascript"></script>
<script src="js/ManagerCtrl.js" type="text/javascript"></script>


</body>
</html>