<div class="row full-height">
    <div class="col-xs-6 col-full">
        <div class="large-panel">
            <div class="panel-student-title">
                My courses
            </div>
         	 <div class="row">
                <div class="col-xs-12">
                    <div class="box-container">
                        <div class="row exams-header">
                            <div class="col-xs-4">Name</div>
                            <div class="col-xs-4">Profession</div>
                            <div class="col-xs-3">Actions</div>
                        </div>
                        
                       <div class="no-data-message" ng-show="studentExams.length == 0">No exams to Show</div>
                       
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row exam-row" ng-repeat="course in studentCourses">
                                    <div class="col-xs-4">{{course.name}}</div>
                                    <div class="col-xs-4">{{course.profession}}</div>
                                    <div class="col-xs-3">
                                        <button class="btn btn-default" ng-click="openModal(exam);">More info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="col-xs-6 col-full right">
        <div class="large-panel">
            <div class="panel-student-title">
                My exams
            </div>
             <div class="row">
                <div class="col-xs-12">
                    <div class="box-container">
                        <div class="row exams-header">
                            <div class="col-xs-2">Course</div>
                            <div class="col-xs-3">Author</div>
                            <div class="col-xs-2">Duration</div>
                            <div class="col-xs-3">Actions</div>
                        </div>
                        
                       <div class="no-data-message" ng-show="studentExams.length == 0">No exams to Show</div>
                       
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row exam-row" ng-repeat="exam in studentExams">
                                    <div class="col-xs-2">{{exam.course.name}}</div>
                                    <div class="col-xs-3">{{exam.author.firstName+ " " + exam.author.lastName}}</div>
                                    <div class="col-xs-2">{{exam.duration + " mins"}}</div>
                                    <div class="col-xs-3">
                                        <button class="btn btn-default" ng-click="openModal(exam);">More info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
