<div class="row full-height">
    <div class="col-xs-6 col-full">
        <div class="large-panel">
            <div class="panel-student-title">
                My courses
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-container">
                        <div class="row exams-header">
                            <div class="col-xs-4">Name</div>
                            <div class="col-xs-4">Profession</div>
                            <div class="col-xs-3">Actions</div>
                        </div>

                        <div class="no-data-message" ng-show="studentCourses.length == 0">No Courses to Show</div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row exam-row" ng-repeat="course in studentCourses">
                                    <div class="col-xs-4">{{course.name}}</div>
                                    <div class="col-xs-4">{{course.profession.name}}</div>
                                    <div class="col-xs-3">
                                        <button class="btn btn-default" ng-click="loadCourseDetails(course);">More
                                            info
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-full right">
        <div class="large-panel">
            <div class="panel-student-title">
                My exams
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-container">
                        <div class="row exams-header">
                            <div class="col-xs-2">Course</div>
                            <div class="col-xs-3">Author</div>
                            <div class="col-xs-2">Duration</div>
                            <div class="col-xs-3">Actions</div>
                        </div>

                        <div class="no-data-message" ng-show="studentExams.length == 0">No exams to Show</div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row exam-row" ng-repeat="exam in studentExams">
                                    <div class="col-xs-2">{{exam.exam.course.name}}</div>
                                    <div class="col-xs-3">{{exam.exam.author.firstName+ " " + exam.exam.author.lastName}}</div>
                                    <div class="col-xs-2">{{exam.exam.duration + " mins"}}</div>
                                    <div class="col-xs-3">
                                        <button class="btn btn-default" ng-click="openExamModal(exam);">More info
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="startExamModal"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog questions-list-modal-container modal-sm" style="z-index: 1100;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> {{getExamName();}} </h4>
            </div>
            <div class="modal-body">
                <div class="box-row row">
                    <div class="col-xs-3 title">
                        Code:
                    </div>
                    <div class="col-xs-9 box-content">
                        <input width="40px" class="duration-input" id="examCodeInput"
                               maxlength="4" placeholder="Enter exam code"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="checkExamCode();">
                    Start
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->