
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #EDEDED url('../img/loader.gif') no-repeat center center;
}

/*Hide all alerts*/
.listQuestionsDiv{ display:none; } 
/* .QuestionDiv{ display:none; } */

.RateQuestDiv{ display:none; }
.RateAnswerDiv{ display:none; }
.RateAnswerSucDiv{ display:none; }
.RateQuestSucDiv{ display:none; }
.alertPostQuestEmpty{ display:none; }
.alertPostQuestSuc { display:none; }
.alertPostAnswSuc { display:none; }
.alertUserExist { display:none; }
.alertUserSuccess { display:none; }
.alertUserInvalid { display:none; }
.alertNewUpdates { display:none; }
.notice { display:none; color:red; }


td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

#options {
	margin: 10px 0;
	list-style-type: none;
	float:left;
}


.next-question {
	margin-right: 10px;
}


.QuestionDiv{
	padding-top:30px;
}

#save_quest,#reset_quest{
	margin-bottom: -6%;
}
#LoadingViewDiv { 
	display:none;
	z-index: 200;
	padding-top:100px;
	margin-left: auto;
	margin-right: auto;
	background:#eee;
}

img.loading_questions {
    display: block;
    margin-left: auto;
    margin-right: auto }


input.invalid, textarea.invalid{
	border: 1px solid red;
}

.tagCloud{
		cursor: pointer;
}

.tagCloud:hover {
	fill:#19a7f7;
}

.leaderRate{
	text-align: left;
	margin-left:45%;
}

.media-object{
	
	height: 80px;
	width: 80px;
	margin-left: 20px;
}
.caption > p{
	text-align: left;
}

/*.AnswerDiv{
	background-color: blue;
}*/


/*.media-body > p {
	font-size:14px;
	margin-bottom:5px;
}

.media-heading {
	font-size:14px;
}

.media {
	margin-top:15px;
}*/

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de615e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}



/*
::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }
*/



/***** Top content *****/

/*.inner-bg {
    padding: 100px 0 170px 0;
}*/

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de615e;
}



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

