<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestsSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>TestsSys Connection</description>
    <res-ref-name>jdbc/TestsSysDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>testsys.utils.ServletsListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetTeacherStatistics</display-name>
    <servlet-name>GetTeacherStatistics</servlet-name>
    <servlet-class>testsys.servlets.records.GetTeacherStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherStatistics</servlet-name>
    <url-pattern>/record/GetTeacherStatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckExtraTime</display-name>
    <servlet-name>CheckExtraTime</servlet-name>
    <servlet-class>testsys.servlets.exams.CheckExtraTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExtraTime</servlet-name>
    <url-pattern>/exam/CheckExtraTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitExam</display-name>
    <servlet-name>SubmitExam</servlet-name>
    <servlet-class>testsys.servlets.exams.SubmitExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitExam</servlet-name>
    <url-pattern>/exam/SubmitExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLastChanges</display-name>
    <servlet-name>SaveLastChanges</servlet-name>
    <servlet-class>testsys.servlets.exams.SaveLastChanges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLastChanges</servlet-name>
    <url-pattern>/exam/SaveLastChanges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartExam</display-name>
    <servlet-name>StartExam</servlet-name>
    <servlet-class>testsys.servlets.exams.StartExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartExam</servlet-name>
    <url-pattern>/exam/StartExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdminStatistics</display-name>
    <servlet-name>GetAdminStatistics</servlet-name>
    <servlet-class>testsys.servlets.records.GetAdminStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminStatistics</servlet-name>
    <url-pattern>/record/GetAdminStatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitExamCheck</display-name>
    <servlet-name>SubmitExamCheck</servlet-name>
    <servlet-class>testsys.servlets.exams.SubmitExamCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitExamCheck</servlet-name>
    <url-pattern>/exam/SubmitExamCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishExam</display-name>
    <servlet-name>PublishExam</servlet-name>
    <servlet-class>testsys.servlets.exams.PublishExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishExam</servlet-name>
    <url-pattern>/exam/PublishExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPublishedExamsByCourse</display-name>
    <servlet-name>GetPublishedExamsByCourse</servlet-name>
    <servlet-class>testsys.servlets.records.GetPublishedExamsByCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPublishedExamsByCourse</servlet-name>
    <url-pattern>/record/GetPublishedExamsByCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseDetails</display-name>
    <servlet-name>GetCourseDetails</servlet-name>
    <servlet-class>testsys.servlets.records.GetCourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseDetails</servlet-name>
    <url-pattern>/record/GetCourseDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRecords</display-name>
    <servlet-name>GetAllRecords</servlet-name>
    <servlet-class>testsys.servlets.records.GetAllRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRecords</servlet-name>
    <url-pattern>/record/GetAllRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExamsToCheck</display-name>
    <servlet-name>GetExamsToCheck</servlet-name>
    <servlet-class>testsys.servlets.records.GetExamsToCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExamsToCheck</servlet-name>
    <url-pattern>/record/GetExamsToCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOnlineExams</display-name>
    <servlet-name>GetOnlineExams</servlet-name>
    <servlet-class>testsys.servlets.records.GetOnlineExams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOnlineExams</servlet-name>
    <url-pattern>/record/GetOnlineExams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewRequest</display-name>
    <servlet-name>CreateNewRequest</servlet-name>
    <servlet-class>testsys.servlets.requests.CreateNewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewRequest</servlet-name>
    <url-pattern>/request/CreateNewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingRequest</display-name>
    <servlet-name>GetPendingRequest</servlet-name>
    <servlet-class>testsys.servlets.requests.GetPendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingRequest</servlet-name>
    <url-pattern>/request/GetPendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerRequest</display-name>
    <servlet-name>AnswerRequest</servlet-name>
    <servlet-class>testsys.servlets.requests.AnswerRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerRequest</servlet-name>
    <url-pattern>/request/AnswerRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestsByTeacher</display-name>
    <servlet-name>GetRequestsByTeacher</servlet-name>
    <servlet-class>testsys.servlets.requests.GetRequestsByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestsByTeacher</servlet-name>
    <url-pattern>/request/GetRequestsByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllQuestions</display-name>
    <servlet-name>getAllQuestions</servlet-name>
    <servlet-class>testsys.servlets.getAllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllQuestions</servlet-name>
    <url-pattern>/question/getAllQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllExams</display-name>
    <servlet-name>getAllExams</servlet-name>
    <servlet-class>testsys.servlets.exams.getAllExams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllExams</servlet-name>
    <url-pattern>/exam/getAllExams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentCourses</display-name>
    <servlet-name>GetStudentCourses</servlet-name>
    <servlet-class>testsys.servlets.GetStudentCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentCourses</servlet-name>
    <url-pattern>/student/GetStudentCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewExam</display-name>
    <servlet-name>CreateNewExam</servlet-name>
    <servlet-class>testsys.servlets.exams.CreateNewExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewExam</servlet-name>
    <url-pattern>/exam/CreateNewExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuestionsByCourse</display-name>
    <servlet-name>GetQuestionsByCourse</servlet-name>
    <servlet-class>testsys.servlets.GetQuestionsByCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsByCourse</servlet-name>
    <url-pattern>/question/GetQuestionsByCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeacherProfessions</display-name>
    <servlet-name>GetTeacherProfessions</servlet-name>
    <servlet-class>testsys.servlets.GetTeacherProfessions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherProfessions</servlet-name>
    <url-pattern>/profession/GetTeacherProfessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCoursesByProfession</display-name>
    <servlet-name>GetCoursesByProfession</servlet-name>
    <servlet-class>testsys.servlets.GetCoursesByProfession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCoursesByProfession</servlet-name>
    <url-pattern>/course/GetCoursesByProfession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>testsys.servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/user/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>testsys.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/user/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQuestion</display-name>
    <servlet-name>CreateQuestion</servlet-name>
    <servlet-class>testsys.servlets.CreateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestion</servlet-name>
    <url-pattern>/question/CreateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProfessionQuestions</display-name>
    <servlet-name>GetAllProfessionQuestions</servlet-name>
    <servlet-class>testsys.servlets.GetAllProfessionQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProfessionQuestions</servlet-name>
    <url-pattern>/question/GetAllProfessionQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAuth</display-name>
    <servlet-name>SessionAuth</servlet-name>
    <servlet-class>testsys.servlets.SessionAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAuth</servlet-name>
    <url-pattern>/user/SessionAuth</url-pattern>
  </servlet-mapping>
</web-app>