<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestsSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <resource-ref>
    <description>TestsSys Connection</description>
    <res-ref-name>jdbc/TestsSysDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <listener>
    <listener-class></listener-class>
  </listener>
  
  
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>testsys.servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/user/LogoutUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>testsys.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/user/LoginUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SessionAuth</display-name>
    <servlet-name>SessionAuth</servlet-name>
    <servlet-class>testsys.servlets.SessionAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAuth</servlet-name>
    <url-pattern>/user/SessionAuth</url-pattern>
  </servlet-mapping>
</web-app>